@()
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>File Upload Example</title>
	</head>
	<body>
		<a id="browseButton" href="#">Browse and Upload</a>
		<a id="upLoadButton" href="#">Upload</a>
		<div id="uploadprogress">0 %</div>
		<ul id="filestobeuploaded">
		</ul>
	</body>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/resumable.js/1.0.2/resumable.min.js">
	</script>
	<script type="text/javascript">
		window.onload = function() {
			var r = new Resumable({
				target:'/upload', 
				query:{}
			});
			r.assignBrowse(document.getElementById('browseButton'));
			document.getElementById('upLoadButton').onclick = function(){
				r.upload();
			}
			var progress = document.getElementById('uploadprogress');
			function updateTotalProgressTo(text) {
				progress.textContent = text;
			}

			var filesSpace = document.getElementById('filestobeuploaded');
			function addFileNameToList(name, id) {
				var progressBar = document.createElement('span');
				var fileNameSpan = document.createElement('span');
				progressBar.textContent = '0 %';
				progressBar.id = id + "-progress";
				var li = document.createElement('li');
				li.id = id;
				fileNameSpan.textContent = name;
				li.appendChild(fileNameSpan);
				li.appendChild(document.createElement('br'));
				li.appendChild(progressBar);
				filesSpace.appendChild(li);
			}


			
			r.on('fileAdded', function(file){ 
				addFileNameToList(file.fileName, file.uniqueIdentifier);
			});
			r.on('fileProgress', function(file) {
				var progressBarToUpdate = document.getElementById(file.uniqueIdentifier + "-progress");
				progressBarToUpdate.textContent = file.progress(false);
			});
			r.on('progress', function() {
				updateTotalProgressTo(r.progress());
			});
		}
	</script>
</html>
